nav.grey.darken-3
    <div class="nav-wrapper">
      a(href='/').brand-logo.center
        i.medium.material-icons local_bar
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='/categories') Categories
        li
          a(href='/cocktails') All Cocktails
        
